[2020-01-12 23:55] jinyus opened #1 "Keep the navbar on route changes"
I not sure if I'm doing this right but on the home page I am navigating to a new page with Navigator.push() but the nav bar disappears. How would I go about keeping the navbar when navigating to other pages?

[2020-01-24 07:50] sooxt98 commented on #1
you should use a `PageView` like the example i have provided in the example folder.

[2020-01-26 03:47] #1 closed

[2020-02-25 08:53] DogeeeXD opened #2 "RenderFlex overflow when quickly switch tabs."
How to reproduce issue:
- Quickly switching between the last tab and the second last tab using gesture. (Sometimes it caused overflow)
How often it happens:
- Occurs randomly in a very short duration.

[code]

[2020-02-25 09:09] DogeeeXD commented on #2
Looks like it is only happening during first time run.
Closing issue.

[2020-02-25 09:09] #2 closed

[2020-03-05 00:08] Gustav0ar opened #3 "Suggestion for improvements"
Firstly, very nice widget, I'll be trying it in my app.

Could you please add badges support for the icon.
Maybe instead of passing the icon, pass a widget, which then I can control how it looks like.
Also do that for text, for more granular control of style.
What do you think?

[2020-03-05 07:26] sooxt98 commented on #3
@Gustav0ar could you show me the design you want?

[2020-03-05 10:41] nilsnilsnils opened #4 "CupertinoIcons don't work"
Hi,

I use your bar. It's very nice and simple to use :) Great Work.

When I use `CupertinoIcons` the icons will be shown double / strechted as seen in the screenshot.
e.g.  `              GButton(
                    icon: CupertinoIcons.home,
                    text: 'Home',
                  ),`

normal Icons work like as expected.
e.g. `              GButton(
                    icon: Icons.a

[2020-03-05 11:48] sooxt98 commented on #4
Issue closed with V2.0.1
https://github.com/sooxt98/google_nav_bar/commit/a966f8aca1fcac737966f0b387224f68fc1c89ce

[2020-03-05 11:48] #4 closed

[2020-03-07 06:10] apgapg opened #5 "Touch size of icon is too small"
I think the touch area for icon is small. Only when you precisely touch icon then only it receives touch. Can we have something with which we can increase. touch area for icons? Its little inconvinient to change tabs

[2020-03-07 18:52] sooxt98 commented on #5
@apgapg Thanks for the feedback ,I have introduce  two new attributes in version 2.1.0 which is `debug` & `tabMargin` for GNav to increase the touchable area.

[2020-03-14 20:11] aytunch opened #6 "Why is GNav directly nested under body of Scaffold?"
In mainlite, advanced and gallery GNav is not given as the bottomNavBar property of Scaffold but instead as a child of the body parameter. Is this the recommended way or am I missing something?

[2020-03-14 20:16] sooxt98 commented on #6
There are used to demo the Gnav's attributes and usage, other than that it's just showing as a normal tabbar but not a bottomBar

[2020-03-16 11:01] ajonno opened #7 "wrong version # in your docs"
you show this in the docs:
[code]

it should be this:
[code]

[2020-03-16 11:05] sooxt98 commented on #7
Thanks for the note 🎉

[2020-03-16 16:15] sooxt98 commented on #7
@ajonno where did you found that error, i can't find it tho

[2020-03-16 20:59] adrianvintu commented on #7
What is the version that has the `margin` added?

The comments here https://github.com/sooxt98/google_nav_bar say 2.1.0

but I get

[code]

[2020-03-16 21:02] SogoGolf commented on #7
Use google_nav_bar: ^2.0.1

[2020-03-16 21:07] SogoGolf commented on #7
Its at the bottom of the README.md

[2020-03-17 12:37] sooxt98 commented on #7
i forgot to release 2.1.0 😂

[2020-03-17 12:40] sooxt98 commented on #7
![image](https://user-images.githubusercontent.com/13378059/76856998-7aea2a00-688f-11ea-8d81-074b971f3ddb.png)
Here you go~

[2020-03-17 12:40] #7 closed

[2020-03-17 13:23] adrianvintu commented on #7
Thank you!

[2020-03-19 19:21] afijal opened #8 "Skip animation on middle element when you go from first one to last one"
Hi, I really like your lib and the amount of customization.
I have a PageView as a body and use your package as a bottom navigation bar.
I have 3 pages, when I go from 1 -> 3 then the 2nd one also gets highlighted on the navigation bar, which doesn't look very nice.

Would it be possible to fix it or add a new param?
Let me know if you need a gif, but I guess the description is clear.
If you are b

[2020-03-20 08:09] sooxt98 commented on #8
@afijal I'm still thinking the possible solution, my first idea is put some delay when page changed, if the page stop changing then execute the animation.

This is the issue im facing now :3 need some idea on how to fix it
![ezgif-6-955bfc2f782d](https://user-images.githubusercontent.com/13378059/77146071-216b4080-6ac5-11ea-8de1-7c30c29d9b6f.gif)

[2020-03-20 21:12] afijal commented on #8
I found a workaround but this is not directly linked to you library.

My concept:
1. store _page locally and update it in your onTabChange callback
2. In PageView onPageChanged update _page only if user did change it by swiping (this gets called when going 1 -> 3 by click on bottom nav bar 2 times, that is the root cause)

Issues:
-can't really detect swipe, wrapping in GestureDetector didn't help

[2020-03-20 22:12] sooxt98 commented on #8
@afijal i think I have misunderstood your issue, how do you go from tab 1 to tab3? By swiping or tapping? Could you show me a gif or explain more Abit?

Here's a example repo you could refer to which I think your issue is not happening here, you could try run it see if the issue is there.
https://github.com/tayormi/covid_tracker

[2020-03-20 22:15] sooxt98 commented on #8
@afijal oh I get it, you are using the view pager animation when switching between tabs, that's why the navbar animations are being triggered. Yep put delay will definitely solve the issue, the delay time can set as same as the navbar duration

[2020-03-21 18:28] afijal commented on #8
Yeah I should have explained it better.
Thanks!

[2020-03-21 18:28] #8 closed

[2020-03-25 07:55] ChristBKK opened #9 "Is there anyway to use a gradient color as backgroundcolor for the Gbuttons?"
Is there anyway to use a gradient color as backgroundcolor for the Gbuttons?

[2020-03-27 02:48] sooxt98 commented on #9
Try using https://api.flutter.dev/flutter/dart-ui/Shader-class.html

[2020-04-04 01:05] lucasmaffazioli opened #10 "Can you provide the code of one of your examples?"
At the beginning, when you change tabs it appears you're using a TabController? I'm trying to make the TabController animate the GoogleNavBar **while** the user swipes the screen, just like in your example. Thanks!

![image of tabs chaning](https://user-images.githubusercontent.com/13378059/71321360-2b47cc80-24f3-11ea-9b1b-389355ae8661.gif)

[2020-04-05 20:49] sooxt98 commented on #10
@lucasmaffazioli it's all inside the example folder

[2020-04-05 23:36] Kiruel commented on #9
Have you find something @ChristBKK ? I can maybe create a PR if not.

[2020-04-06 01:12] #9 closed

[2020-04-06 01:20] sooxt98 commented on #9
New version released @ 2.2.0

[2020-04-06 05:05] ChristBKK commented on #9
thanks will update. @Kiruel  I didn't need it anymore currently, but I will check the new version and test it out.

Great package so far @sooxt98  keep up the good work.

[2020-04-06 05:08] ChristBKK commented on #9
@sooxt98  just a thought, maybe rename the package to "google_navigation_bar" I think a lot of people search navigation bar first in pub dart / flutter. I searched that too. Your appbar is currently one of the best maintained ones of the beautiful ones :)

[2020-04-06 21:57] sooxt98 commented on #10
@lucasmaffazioli  It's here https://github.com/sooxt98/google_nav_bar/blob/master/example/lib/main_advance.dart

[2020-04-06 22:00] sooxt98 commented on #10
oh wait, i think i accidentally remove the code ><

[2020-04-06 22:06] sooxt98 commented on #10
@lucasmaffazioli It's back now~ @ main_advance.dart

[2020-04-06 23:38] lucasmaffazioli commented on #10
Now it's perfect! Beautiful, thanks!

[2020-04-06 23:38] #10 closed

[2020-04-28 18:13] trademunch opened #12 "RenderFlex overflow when adding 6 tabs"
Unable to add 6 tabs, Gives RenderFlex overflow at right side.

Please suggest so that the space between the tabs can be decreased and 6 tabs can be added easily.

[2020-04-28 18:18] sooxt98 commented on #12
U need to decrease the padding and gap for the Gbutton or make the text smaller , so u have example screenshot or code?

[2020-04-28 19:28] trademunch commented on #12
Image 1:
https://www.dropbox.com/s/sz9wk4jsi38bmfb/image_1.jpg?dl=0

Image 2:
https://www.dropbox.com/s/jb1pxar7vxfnc07/image_2.jpg?dl=0

In case I decreased the gap and padding for GNav it comes like this, but the last tab has 2 words in it, which again makes it overflow.

Updated the below code:

GNav(
                gap: 5,
                activeColor: Colors.white,
                iconSize: 2

[2020-04-28 19:38] sooxt98 commented on #12
U need to either cut off the text, or decrease the ‘tabMargin’, ‘gap’, and ‘padding’; the last solution is making the font smaller with ‘textStyle’.

[2020-04-29 19:40] trademunch commented on #12
Thanks for the help,
I had to cut short the text and decrease text size as per your suggestion.
Closing the issue!

[2020-04-29 19:40] #12 closed

[2020-04-29 19:51] trademunch opened #13 "Swipe to switch between tabs"
Can there be an option to switch between tabs when swiping on the screen widget?

swipe left to right to shift to other tab

[2020-05-01 12:23] sooxt98 commented on #13
can u try out the advance example in the folder? Is that why u want?

[2020-05-01 18:30] trademunch commented on #13
Thanks and sorry I didn't look at it,
I think yes I would need similar thing.
Closing the issue.

[2020-05-01 18:30] #13 closed

[2020-05-13 21:58] sayan82 opened #14 "RenderFlex"
When The Display Size and Font Size are Large then it Shows pixel overflowed.

[2020-05-14 05:54] sooxt98 commented on #14
any screenshot? It's normal tho I think

[2020-05-15 15:10] sayan82 commented on #14
where to sent those screenshot??😅

[2020-05-15 15:11] sayan82 commented on #14
Where to send the screenshot?

[2020-05-15 15:42] sooxt98 commented on #14
YouTube or just paste here

[2020-05-15 18:08] sayan82 commented on #14
https://photos.app.goo.gl/cbkTJp1XA8fdVHkZ8

[2020-05-15 19:52] sooxt98 commented on #14
u need to make ur Gnav wider Abit, cause it don't have space to show Gbutton

[2020-05-16 12:19] sayan82 commented on #14
Its taking entire width of screen ..how to make it more wider?

[2020-05-16 18:53] lukepighetti opened #15 "FR: Opacity transition on text"
We have a feature request to have an opacity transition on the text with its own curve and duration. Is this a feature you would consider adding?

[2020-05-16 19:00] sooxt98 commented on #15
Do you mean the Crossfade transition? Currently no, I think it's enough for normal usage, and I think is kinda perfect. Feel free to pull request

[2020-05-17 02:36] lukepighetti commented on #15
It looks really janky with outlined icons.

[2020-05-17 13:11] lukepighetti opened #16 "Allow icon to take Widget, not IconData"
We can refactor GButton.icon to be a `Widget` and apply the icon settings as an `IconTheme`. This matches the semantics of other material widgets, and in our case, allows us to put a dynamic icon widget in GNav.

Is this a PR you would accept?

[2020-05-17 17:16] sooxt98 commented on #15
That's by design which match with the dribble animation. Maybe u could show me the difference, or maybe do an option to disable that crossfade

[2020-05-17 17:17] sooxt98 commented on #16
Yea I think it's okay, but I'll be hard to make it flexible; cause custom widget normally don't have fixed size

[2020-05-17 17:20] sooxt98 commented on #14
If like so u need to either reduce the gap or padding of navbar and button, and reduce the font and icon size

[2020-05-17 17:29] lukepighetti commented on #16
Can you explain the concern you have? From what I can tell the icons do not change in size and if someone provides a custom widget I believe you can expect them to size it properly to visually match the other icons.

[2020-05-17 17:31] lukepighetti commented on #15
If you look at the design specced here: https://dribbble.com/shots/5925052-Google-Bottom-Bar-Navigation-Pattern/

You will see that the text is never visible behind the icons. `google_nav_bar` does not adhere to the spec as it allows the text to be visible behind the icon when transitioning. I'm asking for controls to allow us to guarantee that the text doesn't appear behind the icon.

[2020-05-17 17:41] sooxt98 commented on #15
Look at the search icon.

[2020-05-17 17:44] lukepighetti commented on #15
Not sure what you mean. The dribbble spec still guarantees that the text is never visible behind the icon. Am I misunderstanding what you're talking about?

<img width="675" alt="Screen Shot 2020-05-17 at 1 43 41 PM" src="https://user-images.githubusercontent.com/666539/82155648-6d77fe80-9844-11ea-9619-bcd96fac76ca.png">

[2020-05-17 17:44] sooxt98 commented on #15
![image](https://user-images.githubusercontent.com/13378059/82155657-1b1cf900-98a9-11ea-88af-5afa659de4d9.png)
i think need to tweak the timing abit

[2020-05-17 17:45] lukepighetti commented on #15
That was the intent of this FR was to allow us to control the timing of the opacity transition so you don't have to fiddle with it.

[2020-05-17 17:49] sooxt98 commented on #15
yep feel free to pull request, ill merge it if it looks good

[2020-05-17 18:09] sooxt98 commented on #15
I think the problem is not only the opcity, and the offset of from the start

[2020-05-19 09:50] sooxt98 commented on #16
@lukepighetti normally they want to add badge count above the icon, so if the numbers from 0  - 10 the size of the badge will affect the icon size, may i know what kind of widget u want to put in?

[2020-05-19 09:57] sooxt98 commented on #15
@lukepighetti by the way it doesn't shows overlay problem at my pen, may i know what kind of settings you used for your situation?

https://codepen.io/soo-xiao-tong/pen/zYvpNZw

[2020-05-19 10:53] lukepighetti commented on #16
We are no longer using this package so you’re welcome to close this issue.

[2020-05-19 10:54] lukepighetti commented on #15
We are no longer using this package so you’re welcome to close this issue.

[2020-06-03 03:17] Abdelmjid-ASOUAB opened #17 "swip animation whene you switching between Pages tabs"
why there is no **swip animation** whene you switching between Pages tabs
like in your Example !

[2020-06-04 20:27] harpreet9629 opened #18 "Getting error"
E/flutter (21944): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: setState() called after dispose(): _GNavState#81aa2(lifecycle state: defunct, not mounted)
E/flutter (21944): This error happens if you call setState() on a State object for a widget that no longer appears in the widget tree (e.g., whose parent widget no longer includes the widget in its build). This error can occ

[2020-06-06 05:20] sooxt98 commented on #18
hi harpreet, please give me a minimal code which can reproduce this error

[2020-06-06 05:23] sooxt98 commented on #17
Hi @Abdelmjid-ASOUAB , plz run the main_advance.dart inside the example which contains animation

[2020-07-13 02:14] ngoctranfire opened #19 "Add badging capabilities for displaying notification counters."
I think this library is really sleek, but I would like to see something like Badges having first-class support in this navigation bar. Are there any plans to add this? If not, I can look into this!

https://pub.dev/packages/badges

[2020-07-13 14:10] faress123 opened #20 "how to use it in other language"
hello everyone,

I use the google_nav_bar package, it is good and very nice.

but when I convert the direction of the app to (right to left) the text is making an error.

like the photo below:

https://i.ibb.co/D183V9b/20200713-170022.jpg

how can I solve that ??

and I am sorry because my English is not very good

[2020-07-15 12:52] sooxt98 commented on #20
@faress123 may i know what language are you using?

[2020-07-15 12:57] sooxt98 commented on #19
![image](https://user-images.githubusercontent.com/13378059/87547483-bda4fd00-c6dd-11ea-937b-186794a7f64e.png)
@ngoctranfire yes you can look into it, i think it's not hard to add badges to it; try to  wrap the bade around the Icon widget

[2020-07-16 09:12] faress123 commented on #20
@sooxt98  I using the Arabic language

[2020-07-18 20:01] wesleytoshio opened #21 "GButton icon widget"
does GButton's icon property accept a widget? Currently it only supports IconData and in my project I need to add the user's photo circled
EX:
![image](https://user-images.githubusercontent.com/7057737/87860991-4effb380-c918-11ea-9e88-fa9ba5d5e502.png)

[2020-07-19 18:41] sooxt98 commented on #21
Currently nope, here's the work around https://github.com/sooxt98/google_nav_bar/issues/19

[2020-07-28 11:28] omrid594 opened #22 "Hebrew GNav"
Trying to make an RTL NavBar.
But the text gets over the icon.

![image](https://user-images.githubusercontent.com/19475206/88659953-8d4a5f00-d0de-11ea-840c-987f2f3757fe.png)

The localization of the app is RTL (he,IL).
How could it be fixed?

[2020-07-29 05:38] sooxt98 commented on #22
This issue will move to here https://github.com/sooxt98/google_nav_bar/issues/20

[2020-07-29 05:38] #22 closed

[2020-07-29 05:39] sooxt98 commented on #20
I just try with the web; i works fine; maybe it doesn't work on phone?
![image](https://user-images.githubusercontent.com/13378059/88761033-e5e23080-d1a0-11ea-8df5-ef48633fd705.png)

[2020-07-29 05:44] #6 closed

[2020-07-29 07:26] omrid594 commented on #20
@sooxt98  you are probably using `MaterialApp`, that's why its showing left to right instead of right to left.
I have the same problem - my app localization is RTL.
Thats why it showed like this >>
![image](https://user-images.githubusercontent.com/19475206/88769993-d3a6c900-d185-11ea-8b85-65f8dd0662db.png)

Any solution?

[2020-07-29 07:30] sooxt98 commented on #20
@omrid594 maybe u could try to wrap the navbar with `Directionality` widget

[code]

take a look at here: https://stackoverflow.com/questions/50535185/right-to-left-rtl-in-flutter

[2020-07-29 07:36] omrid594 commented on #20
@sooxt98 Not working - The issue causes because there is `Row` which contains the `Icon` and `Text` in each GNav.
Because everything it RTL (due to localization) >> **the Icon starts at the right side on each Row**
Any way to move make the `mainAxisAlignment: MainAxisAlignment.end,` inside the Row?

[2020-07-29 07:42] sooxt98 commented on #20
Did you try `textDirection: TextDirection.ltr` instead of `TextDirection.rtl`

[2020-07-29 07:45] omrid594 commented on #20
@sooxt98 Great! the order now is backward but works just fine! Thanks a lot

[2020-07-29 09:15] #20 closed

[2020-08-05 12:19] faress123 commented on #20
the problem still appears,

I need to make my app always start from right to left,

but the text appears to a behind of the icon.

like that:

https://i.ibb.co/D183V9b/20200713-170022.jpg

**Any Solutions?**

[2020-08-05 12:43] sooxt98 commented on #20
@faress123 try wrap your Gnav with `Directionality`

[code]

[2020-08-05 13:23] faress123 commented on #20
@sooxt98 this work fine, and the text appear fine, but the app work from left to right,
like the photo here:
https://i.ibb.co/mHTq7bN/Screenshot-20200805-161842.jpg

but I need my app to work from right to left ...

[2020-08-05 18:21] sooxt98 commented on #20
@faress123 for ur case, I need to rewrite the UI & animation to flip the icon & text

[2020-08-06 06:14] faress123 commented on #20
@sooxt98
I will be grateful to you, will there appear in the new version?

[2020-08-18 20:15] nohli commented on #5
I've maximized the touch area of the icons by wrapping them in a Flexible widget:

https://github.com/nohli/google_nav_bar/commit/fa47ff658f85565c063e1801b3198a3bdc41caa4

You could try it by adding this to your pubspec.yaml:

[code]

Right now, it's not perfect - it collapses for a short moment when changing tabs, but it looks okay, when setting something like:
[code]

(because of this I also rem

[2020-08-19 05:02] sooxt98 commented on #5
@nohli wow interesting,I'll try it out

[2020-08-19 08:14] louia opened #23 "Big grey box when switching pages in release mode"
I have a big grey box  which appear less than one second when switching between page, in release mode or in profile mode.

In profile I was able to get this message error :

`Another exception was thrown: Instance of 'ft'`
or
`uid=10419(com.***) 1.ui identical 23 lines`

[2020-08-19 08:16] sooxt98 commented on #23
@louia coild you give me a minimal reproduce code and a screen recording from me?

[2020-08-19 09:11] louia commented on #23
I use your example : https://github.com/sooxt98/google_nav_bar/blob/master/example/lib/main_advance.dart

I use the latest stable version of flutter : 1.21.0-10.0.pre.114

And this is the box :
![Screenshot_20200819-110917](https://user-images.githubusercontent.com/33846211/90615595-a4c3c600-e20c-11ea-9757-4bed8e685feb.jpg)

[2020-08-19 10:21] sooxt98 commented on #23
@louia i think the latest flutter version breaks the flexbox;

[2020-08-19 10:27] sooxt98 commented on #5
hi @nohli it just changed the behaviour of the animation, which doesn't match with the original one; the button must stick infront

[2020-08-19 11:53] nohli commented on #5
@sooxt98 try wrapping the GButton/gButton with
`Container(color: Colors.red, child: ...)`
(in your code line 67, in my fork line 98):

before:
![before](https://user-images.githubusercontent.com/43643339/90631420-01ca7680-e223-11ea-91ea-76f401eddaae.png)
after:
![after](https://user-images.githubusercontent.com/43643339/90631424-042cd080-e223-11ea-9a77-609d5f07e0cf.png)

The red painting also refl

[2020-08-19 12:19] louia commented on #23
I also think.
You will provide an update ? I didn't see where will be the error.

[2020-08-19 12:24] sooxt98 commented on #23
@louia ill try to fix later, Im currently doing V3 and will update my flutter to check whether i can get that glitch

[2020-08-19 16:35] sooxt98 commented on #23
@louia  i just upgrade my flutter and it's on v1.20.2 with no problem at all

[2020-08-19 17:18] sooxt98 commented on #15
Fixed in V3

[2020-08-19 17:18] #15 closed

[2020-08-19 17:18] sooxt98 commented on #16
Fixed in V3

[2020-08-19 17:18] #16 closed

[2020-08-19 17:18] sooxt98 commented on #14
Close for idle

[2020-08-19 17:18] #14 closed

[2020-08-19 17:18] sooxt98 commented on #3
Fixed in V3

[2020-08-19 17:18] #3 closed

[2020-08-19 17:19] sooxt98 commented on #21
Fixed in V3

[2020-08-19 17:19] #21 closed

[2020-08-19 17:20] sooxt98 commented on #19
Fixed in V3

[2020-08-19 17:20] #19 closed

[2020-08-19 17:20] sooxt98 commented on #17
Close for idle

[2020-08-19 17:20] #17 closed

[2020-08-20 09:00] louia commented on #23
I was on master channel instead of stable....
master : 1.21
stable : 1.20

Everythink works fine in 1.20 but for now not in 1.21

[2020-08-20 09:10] sooxt98 commented on #23
@louia i think just let them fix the break;

[2020-08-24 21:47] albrnick opened #24 "Dark Mode support"
I'm using a dark theme, but it doesn't look like google_nav_bar supports that? Is it possible to pull the Theme data for defaults?

Thanks for your time!

[2020-08-24 21:53] albrnick commented on #24
Looks I was just using code that hard coded that. aside from the tabBackgroundColor. Sorry to bother! Great library! :)

[2020-08-24 21:53] #24 closed

[2020-09-18 15:52] tsinis opened #25 "Stack is missing overflow parameter in latest Flutter's master branch"
Hey @sooxt98

Thanks for awesome package. Just want to point you out that in latest Flutter's master brunch there is no "overflow" parameter (that you use in your nav bar), so you will have to migrate to make it work on most recent Flutter version. Here is migration guide from Google:
https://docs.google.com/document/d/1gC5Di4ykTCqupD77PWpy9D8xXo0Ide5CnrH0zzVIhKo/edit#heading=h.qxzs91rbt759

Also

[2020-09-18 18:12] sooxt98 commented on #25
Thanks for the find out @tsinis ! I think i would just simply remove the overflow param in next update

[2020-09-22 08:57] #25 closed

[2020-10-08 13:41] r0hit-gupta opened #27 "Key property for GButton is missing implementation"
Passing `key` property to the `GButton` does nothing. The widget does not contain the passed key. This is required for performing tests using flutter driver.

[2020-10-08 16:47] sooxt98 commented on #27
https://github.com/sooxt98/google_nav_bar/commit/9ff7f8f4d72abcc0133dfe98e0b224e7ee57f26e

[2020-10-08 16:47] #27 closed

[2020-10-09 11:07] r0hit-gupta commented on #27
@sooxt98 you missed passing the key in the map function. I have created a new PR for that. :) https://github.com/sooxt98/google_nav_bar/pull/28

[2020-10-13 09:14] Kiruel opened #29 "feat: allow borderRadius on GButton"

[2020-10-13 19:58] #29 closed

[2020-10-25 13:44] mocheffendi opened #31 "Insert Widget to Container page index 0,1,2,3"
Hi,

I am new on Flutter, your package is amazing.
How to insert widget to Container on different page index 0,1,2,3 with your package.

Thanks
M. Effendi

[2020-10-25 14:11] sooxt98 commented on #31
Try running the advance example in the example folder

On Sun, Oct 25, 2020 at 9:45 PM mocheffendi <notifications@github.com>
wrote:

[2020-10-25 14:28] mocheffendi commented on #31
how to insert widget ?

body: PageView.builder(
          onPageChanged: (page) {
            setState(() {
              selectedIndex = page;
              badge = badge + 1;
            });
          },
          controller: controller,
          itemBuilder: (context, position) {
            return Container(
              color: colors[position],
            );
          },
          itemCoun

[2020-10-25 22:59] mocheffendi commented on #31
Thanks solved

[2020-10-25 23:00] #31 closed

[2020-10-27 05:58] sooxt98 commented on #18
https://stackoverflow.com/questions/49340116/setstate-called-after-dispose

[2020-10-27 05:58] #18 closed

[2020-11-03 09:56] hennonoman opened #32 "RTL problem"
is there any solution for RTL support?

[2020-11-15 22:23] tsinis opened #34 "Feature request: Tooltip or Semantic Label"
Hey @sooxt98!

 Writing to you again! Thank you for the great package, but could you add some semantics? Because at the moment GButton doesn't allow us to add any tooltip or semantic tag, so Accessibility Checker or any other semantic analysis SW will not recognize the meaning of this button... Semantics are articularly helpful for people with visual impairments but are also great for testing. A T

[2020-11-16 14:50] tsinis commented on #34
I can make PR probably, if you accept. Thanks.

[2020-11-16 15:15] sooxt98 commented on #34
Hi @tsinis  why don't just simply wrap Gbutton with tooltips or semantics?

[2020-11-16 15:41] tsinis commented on #34
Hey! Because GNav "tabs" parameter only accept List<GButton> not List<Widget>. Thanks for reply.

[2020-11-19 00:50] dustincatap opened #35 "Add support for border color"
First off, nice plugin! Been using it in some of my flutter apps

Is there anyway to add border color in GButtons?

[2020-11-20 12:19] sooxt98 commented on #35
Good idea, i'll add it next month

[2020-11-20 12:21] sooxt98 commented on #34
@tsinis ah so adding one more Tooltip to GButton would be enough? btw, PR is welcome :3

[2020-11-20 12:47] tsinis commented on #34
Ok super. I'll try to push a PR in few days so you can review it. Thanks!

[2020-12-01 06:23] RomjanHossain opened #38 "How can we add SvgPicture on GButton"
GButton takes IconData as an icon! Is there any way to add svgPicture as an icon?

[2020-12-02 18:58] sooxt98 commented on #38
yep u can, if you look at this example https://github.com/sooxt98/google_nav_bar/blob/master/example/lib/main_advance.dart
i added the custom badge widget; So you can use pass https://pub.dev/packages/flutter_svg to `leading` options

[2020-12-02 19:15] sooxt98 commented on #32
#36

[2020-12-02 19:15] #32 closed

[2020-12-02 20:37] tsinis commented on #34
Thanks for PR merge @sooxt98 ! Wish you good luck with null-safety, stay strong :D

[2020-12-02 20:37] #34 closed

[2020-12-03 04:28] RomjanHossain commented on #38
oh! I haven't look up the contractor, sorry!  thanks for the Great pkg!

[2020-12-03 04:28] #38 closed

[2021-01-06 23:37] sooxt98 commented on #35
https://github.com/sooxt98/google_nav_bar/commit/dd4eac02cd9b26f86cd0a4e6dfd1266a3a1d2d4f

[2021-01-06 23:37] #35 closed

[2021-01-06 23:37] sooxt98 commented on #23
@louia hi there, doesn't this issue still exist?

[2021-01-16 23:10] sooxt98 opened #40 "Missing icon color transition while switch to active"
![image](https://user-images.githubusercontent.com/13378059/104825145-10c95980-5893-11eb-9e13-9fe39db41c18.png)

[2021-01-16 23:16] sooxt98 opened #41 "Rework is needed to animate only icon instead of text"
![ezgif-4-b95a923f690f](https://user-images.githubusercontent.com/13378059/104826607-d7ddb480-5893-11eb-887d-ddceda4bfe5b.gif)

[2021-01-26 19:09] SatYu26 commented on #41
@sooxt98 hey i would like to work on this. can you tell me how should i approach this or what exactly you are trying to do?

[2021-01-27 05:00] sooxt98 commented on #41
@SatYu26 since this package released till now i still don't have a nice solution to solve this issue, if you look carefully at the design specs, only the like icon moves when activated, the text just fade in from behind, so the distance of the animated like icon need to calculate based on the text length, but theres no good solution out there to get the text width before rendering;

[2021-01-27 05:28] simrat39 commented on #41
Idk if this is what you want but I made something similar:
https://github.com/simrat39/animated_fab
The code is a mess but I can work on Google nav bar if this is the effect you're trying to implement

[2021-01-27 05:38] SatYu26 commented on #41
@simrat39  Yes this seems exactly what @sooxt98 want i guess!

[2021-01-27 05:40] sooxt98 commented on #41
@simrat39 wow this is what im looking for, but does it support dynamic width?

[2021-01-27 05:42] SatYu26 commented on #41
okay that seems to be the problem because if not given proper space for text the icon and text might overlap.
what if we provide the separate container for text only with transparent background so that text will only take designated space.

[2021-01-27 05:55] simrat39 commented on #41
No it's hardcoded but I think I can make it work with dynamic width

[2021-01-27 05:58] sooxt98 commented on #41
Here's some solution for calculation the text width before it renders, but i think will cause some performance issue as well, still waiting for official solution

https://github.com/flutter/flutter/issues/41707
https://stackoverflow.com/questions/52659759/how-can-i-get-the-size-of-the-text-widget-in-flutter/52991124#52991124

[2021-01-27 17:21] SatYu26 commented on #41
this seems to work ig.
but as you mentioned it might create performance issues.

[2021-02-04 22:26] sooxt98 commented on #41
New approach ⚡️

[code]

[2021-02-05 07:03] sooxt98 opened #42 "Material Ripple & Haptic Feedback Support"

[2021-02-06 19:39] FelixMittermeier opened #43 "Animation with custom curve looks weird in v4"
Hi, first of all thank you very much for this great library. It is really the best flutter navigation bar I found so far.
After upgrading to version 4 today it looks like there is a regression with the animation when a custom curve is used, unfortunately. It is not so easy describe - maybe you just look at it yourself. I used the following values on GNav:

[code]

This looks very smooth on version

[2021-02-07 03:05] sooxt98 commented on #43
@FelixMittermeier This is why i bump up the version, not just curve, padding also breaks as well 😉

[2021-02-07 03:06] #40 closed

[2021-02-07 03:06] #41 closed

[2021-02-07 03:06] #42 closed

[2021-02-24 09:12] SilkeNL opened #44 "Riple radius doesn't change along with the tabBorderRadius"
When I set the tabBorderRadius to 8 the ripple stays rounded as if its 15. This causes it to look odd and I can't seem to change it.

https://user-images.githubusercontent.com/49638868/108977302-b046ec80-7688-11eb-9f7d-0a6e31df3ab2.mov

Code:

`
Container(
      child: GNav(
        mainAxisAlignment: MainAxisAlignment.spaceAround,
        backgroundColor: Color(0xFF279B40),
        tabBackgroundG

[2021-02-24 09:23] sooxt98 commented on #44
@SilkeNL Fixed in master branch! I'll publish to pub.dev after finishing old issue https://github.com/sooxt98/google_nav_bar/commit/c955155198d0130d284f11736d5701ad193b60ea#diff-b3a9f6e65be382a079e4fffcc8c4bfce57a688dc090e8cacf1477fb19ccaff19

[2021-02-24 09:43] #44 closed

[2021-03-01 00:33] brizaldi opened #45 "Migrate to null safety"
Is there any plans to add null safety support?

[2021-03-03 17:56] sooxt98 commented on #45
Hmmmm, not sure what's the benefit using it; for now I think all of the param is nullable

[2021-03-06 02:35] Ascenio commented on #45
@sooxt98 yes, but a project can not run full null-safety until all it's dependencies have migrated. If at least one of them is not null safe, then your project works with [unsound null safety](https://dart.dev/null-safety/unsound-null-safety).

[2021-03-08 00:03] leynier commented on #45
Any update about this guys? I could help with this.

[2021-03-10 12:57] lucasagazzani opened #47 "It won't desapear when opening new page"
Hi,

so I am finding an issue in which when preasing navigation from the home page the bottom navigation bar won't desapare and I can't figure out why.

My code:

[code]

[2021-03-10 17:21] sooxt98 commented on #47
@lucasagazzani could you provide a video?

[2021-03-10 19:06] lucasagazzani commented on #47
https://linksharing.samsungcloud.com/u7DcZPRmm9G7

[2021-03-10 19:16] sooxt98 commented on #47
@lucasagazzani this might be the nesting issue with your router, you need to use parent scaffold context to call Navigator.push

[2021-03-10 19:18] #45 closed

[2021-03-10 20:01] lucasagazzani commented on #47
This is how I have been calling them:
`onTap: () {
                          Navigator.push(
                            context,
                            MaterialPageRoute(
                                builder: (BuildContext context) => LiveTab()),
                          );
                        },`

[2021-03-10 22:41] sooxt98 commented on #47
The problem here is you use two `MaterialApp` in your code, you need to remove one;

So change ur main to this
[code]

Then move your `darkTheme: ThemeData.light()` into the bottom `MaterialApp`

[2021-03-11 07:27] lucasagazzani commented on #47
I am sorry man but that hasn't fixed the issue

[2021-03-11 07:54] sooxt98 commented on #47
@lucasagazzani did u removed all MaterialApp widget? U could only use one MaterialApp in a while flutter project

[2021-03-11 08:11] lucasagazzani commented on #47
I have removed all material app theme and replaced it how you asked me

[2021-03-11 09:47] JagandeepBrar opened #48 "Updating selectedIndex does not update the index"
Previously on 4.0.2, if I called `setState()` on a value passed to `GNav`, it would also animate the tab to the new index. This no longer works with 5.0.1.

A quick example where I use a `PageController` listener to update `_index`:

[code]

The initially selected index is correct, but just does not update unless you tap on the `GButton` in the navigation bar.

[2021-03-11 12:11] lucasagazzani commented on #47
I can't remove the MaterialApp in this case because the scaffold needs it

[2021-03-11 12:17] sooxt98 commented on #47
Scaffold won't be a problem when everything is wrap under one big MaterialApp widget during runApp

[2021-03-11 12:19] lucasagazzani commented on #47
ok, I thought you might be asking to remove it. Any other thought on what it could be?

[2021-03-11 13:50] sooxt98 commented on #48
@JagandeepBrar Thanks for the testing; I think this is is due to the null-safety refactor by @Ascenio

![image](https://user-images.githubusercontent.com/13378059/110796927-7ba37980-82b3-11eb-8c09-701a6573a0af.png)

I think i would simply move back the
[code]
back into build function to solve this issue, without having to use `didUpdateWidget `

[2021-03-11 15:53] Ascenio commented on #48
I'm sorry for introducing this bug, but I think there shoudln't be logic into build method which could be extracted to elsewhere. I don't think the index should be updated at each build.

Anyway. Fortunately @JagandeepBrar made a change which I checked already and it seems to be working.

[2021-03-11 16:31] sooxt98 commented on #47
@lucasagazzani the only reason that u get this issue is because you use more than one `MaterialApp ` widget in your single project

[2021-03-11 16:41] JagandeepBrar commented on #48
As @Ascenio mentioned, the more "correct" way is to not update values constantly within the build function, and instead use `didUpdateWidget` as used in the pull request I have opened 🙂

[2021-03-11 17:04] #48 closed

[2021-03-11 17:13] sooxt98 commented on #48
https://pub.dev/packages/google_nav_bar/versions/5.0.2

[2021-03-12 09:32] sooxt98 opened #50 "Analyzer Error on https://pub.green/packages/google_nav_bar"

[2021-03-12 09:34] sooxt98 commented on #50
@Ascenio Im not sure why its giving error after null-safety could you help me check it out?

[2021-03-12 12:16] lucasagazzani commented on #47
Ok, I found the page that had the extra MaterialApp now this issue is solved but do you know by any chance why themedata is not trasnfering to this page? Thank you for your help.

[2021-03-12 12:25] Ascenio commented on #50
So, the error was generated after trying to execute the test `google_nav_bar_test.dart`, because it has been commented the command `flutter test` can't run it. The easy fix is to simply remove the tests folder, as there are no tests anyway. However, I don't know if pub.green will complain if there are no tests.

[2021-03-12 12:26] Ascenio commented on #50
Actually taking a look again I realized that version 4.0.2 had no tests but still passed as green. So maybe that's the solution.

[2021-03-12 12:39] sooxt98 commented on #50
@Ascenio oh thanks I'll try to delete that test folder see if it fix

[2021-03-12 12:58] sooxt98 commented on #47
There's a problem with your createState function, try to look at flutters
official example

On Fri, Mar 12, 2021 at 8:16 PM lucasagazzani ***@***.***>
wrote:

[2021-03-12 14:22] #47 closed

[2021-03-13 11:59] sooxt98 commented on #50
@Ascenio after some digging, i think this is their issue; something misconfigure at their `/Users/builder/clone/analysis_options.yaml` files, I'll try to email them

![image](https://user-images.githubusercontent.com/13378059/111029201-4ffccc80-8436-11eb-82bb-090e55231c48.png)

[2021-03-13 13:07] Ascenio commented on #50
If you take a look at their dashboard you see accusing problems with tests
![](https://imgur.com/7evKqrF.png)
So I clicked to see the logs of tests
![](https://imgur.com/P4zgf3a.png)
And it shows a error because the test file doesn't have a main.
![](https://imgur.com/YtRYoBK.png)
I tested it myself locally with `flutter test` and the result was similar to theirs.

[2021-03-13 13:21] sooxt98 commented on #50
@Ascenio thanks, i have added `google_nav_bar_test.dart` which fix the issue

[2021-03-14 08:26] #50 closed

[2021-03-14 08:27] sooxt98 opened #51 "Compatibility issues after null safety migration"
@Ascenio Did you know why it's not compatible with Flutter 1.22.6?
![image](https://user-images.githubusercontent.com/13378059/111062125-079ae880-84e2-11eb-8c95-40679b59ade8.png)

[2021-03-14 13:23] Ascenio commented on #51
It's because as from version 5 and latter the minimum SDK is 2.12.0, which is required to support null safety. But, because of that, version 1.22.6 doesn't meet the minimum SDK. Isn't that big of a deal, it just means that anyone which intends to use version 5+ will need flutter's 2.0+.

[2021-03-14 14:13] sooxt98 commented on #51
@Ascenio it is because I saw alot of nullsafty still supporting older version. I think maybe we just tweak down the min requirement ?

[2021-03-14 16:18] Ascenio commented on #51
Not sure about that. The ones I see compatible with both flutter's 2.0 and 1.22.6 are versions which aren't null safe. A example would be [GetX](https://pub.green/packages/get), the version compatible with both is not the null safe version.

[2021-03-14 16:30] sooxt98 commented on #51
@Ascenio check this out https://pub.green/packages/bottom_navy_bar

[2021-03-14 17:29] Ascenio commented on #51
This package is only compatible with all versions because it has not migrated to null safety. The version you see there is 5.6.0, which has `sdk: ">=2.2.2 <3.0.0"`.

[2021-03-14 17:30] Ascenio commented on #51
Actually they have a null safety version, but the one you see at pub.dev is not the safe version.

[2021-03-14 17:40] sooxt98 commented on #51
@Ascenio hah I see, they hide it in pre-release

[2021-03-14 17:40] #51 closed

[2021-03-18 10:56] brizaldi opened #52 "Using label text only"
Is there a way to use label text only without icon?

[2021-03-18 11:01] sooxt98 commented on #52
@brizaldi i wonder what would it look like without icon; could you show me some sketch / UI?

[2021-03-18 11:03] brizaldi commented on #52
maybe something like this
![Screenshot 2021-03-18 180258](https://user-images.githubusercontent.com/41714881/111616193-3253ac80-8814-11eb-9fb4-e3020172f853.png)

[2021-03-18 12:16] sooxt98 commented on #52
@brizaldi You could check out this plugin https://medium.com/android-news/flutter-bubble-tab-indicator-for-tabbar-dd038f1076d3

[2021-03-19 02:11] brizaldi commented on #52
for now I managed to complete it using CupertinoSlidingSegmentedControl, but there's not much customization on that widget

[2021-03-19 02:11] #52 closed

[2021-04-14 22:00] hennonoman opened #54 "type 'BorderRadius' is not a subtype of type 'bool'"
when I try to add borderRadius in Gbutton I got this error:
type 'BorderRadius' is not a subtype of type 'bool'

[2021-04-14 22:10] sooxt98 commented on #54
could you please provide minimal reproducible code?

[2021-04-14 22:19] hennonoman commented on #54
<img width="566" alt="Screen Shot 1442-09-03 at 1 18 27 AM" src="https://user-images.githubusercontent.com/25689733/114787520-a5573100-9d88-11eb-8c87-6a733ce63026.png">

[2021-04-14 22:20] hennonoman commented on #54
Version 4.0.2

[2021-04-14 22:51] sooxt98 commented on #54
@hennonoman hi there can you upgrade it to v5.0.3

[2021-04-14 22:54] hennonoman commented on #54
I can not because the Flutter verison dose not support it

On Thu, 15 Apr 2021 at 1:51 AM sooxt98 ***@***.***> wrote:

--
[image: photo]
Almuhannad Ghaleb
Flutter Developer at  Albaap
A  Prince Mohammed Bin Salman Street, An Nada, Riyadh 13317, Saudi Arabia
Office no 5
P  +966 11 455 5524 Ex:1  <+966+11+455+5524+Ex:1>
M  +966 54 576 4102  <+966+54+576+4102>
E  ***@***.***  ***@***.***>
W  www.alba

[2021-04-14 23:03] sooxt98 commented on #54
here's the manual fixed version, you need to manually replace with the code below
[code]

[2021-04-14 23:07] hennonoman commented on #54
Thank you so much
I will replace it and check if it is work

On Thu, 15 Apr 2021 at 2:04 AM sooxt98 ***@***.***> wrote:

--
[image: photo]
Almuhannad Ghaleb
Flutter Developer at  Albaap
A  Prince Mohammed Bin Salman Street, An Nada, Riyadh 13317, Saudi Arabia
Office no 5
P  +966 11 455 5524 Ex:1  <+966+11+455+5524+Ex:1>
M  +966 54 576 4102  <+966+54+576+4102>
E  ***@***.***  ***@***.***>
W  www.al

[2021-04-22 08:26] peter100u opened #55 "red dot"
do you have red dots number , for example , you have 3+ message in tabs

[2021-04-22 08:42] sooxt98 commented on #55
U mean the badge? Take a look at the example folder, there's 4 example thetr, especially the advance_main.dart

[2021-04-25 23:20] sooxt98 commented on #23
Flutter 2

[2021-04-25 23:20] #23 closed

[2021-04-29 10:50] Eva99Cn opened #57 "GButton onPressed doesn't do anything"
Hi, first of all I really like this widget, however I doesn't use it as a bottom navigation bar, but as an appbar, I have a problem for GButton the onPressed function doesn't do anything

[2021-04-29 11:27] sooxt98 commented on #57
DId you wrap the GButton inside Gnav? If not u probably need to specify `active` param as well

[2021-04-29 11:47] Eva99Cn commented on #57
Yes it is wrapped in Gnav.

[2021-04-29 11:50] sooxt98 commented on #57
Oh i just found something, onPressed wont with Gnav for now, im working on a fix;

[2021-04-29 11:57] sooxt98 commented on #57
`google_nav_bar: ^5.0.5` Fixed

[2021-04-29 11:57] #57 closed

[2021-04-29 12:04] Eva99Cn commented on #57
Thank you !

[2021-05-05 12:27] Amr1440 opened #58 "Custom Icon support"
Is it possible to use custom icons from assets ?

[2021-05-05 12:48] sooxt98 commented on #58
just use the leading param in GButton, check out the example https://github.com/sooxt98/google_nav_bar/blob/30e04f0e22be305bf11fc8dbb9805e4842508854/example/lib/main_advance.dart#L100

[2021-05-25 08:02] Amr1440 opened #59 "animation with RTL Apps looks weird"
showing the icon on the right and the title on the left make the transition looks weird really , any solution to reverse the the transition direction  ?

[2021-05-30 18:09] cheneva99 opened #60 "setstate error with gnav"
[VERBOSE-2:ui_dart_state.cc(199)] Unhandled Exception: setState() called after dispose(): _GNavState#175e8(lifecycle state: defunct, not mounted)
This error happens if you call setState() on a State object for a widget that no longer appears in the widget tree (e.g., whose parent widget no longer includes the widget in its build). This error can occur when code calls setState() from a timer or an

[2021-06-06 16:32] canbrky opened #61 "not applicable for responsive apps"
there is no barHeight parameter inside constructor and if it is wrapped with SizedBox , bar becomes completely unusable, only way to change the height is iconsize.I should have been able to change the bar height and iconsize distinctly.

[2021-06-07 02:34] #61 closed

[2021-06-07 09:59] Amr1440 commented on #59
@sooxt98

[2021-06-07 18:01] sooxt98 commented on #59
@Amr1440 Could you give me the minimum reproducible code? and maybe some screenshot as well

[2021-06-08 14:53] radha1990kumari opened #62 "Feature request: Tabbar like controller argument , so that animation changes smoothly on transition ."
In tabbarview as user slides the screen slowly we can see the change at same rate in the tabs , I want to achieve same result with google_nav_bar any suggestions please .

[2021-06-08 15:21] sooxt98 commented on #62
interesting idea

[2021-06-08 15:22] sooxt98 commented on #60
could u provide a minimal reproducible code?

[2021-06-23 13:13] golnarSheikhBahaie commented on #58
thnx a lot ;)

[2021-06-29 07:49] Amr1440 commented on #58
Sorry i didnt understand what do you mean ?
what i want do is like this :
`Image.asset('assets/images/profile.png'),`
@sooxt98

[2021-07-04 06:56] Amr1440 commented on #58
@golnarSheikhBahaie Can you please explain @sooxt98  answer to me ?

[2021-07-09 02:11] ZackFrost commented on #58
Try this @golnarSheikhBahaie

  GButton(
                    leading: CircleAvatar(
                      radius: 12,
                      backgroundImage: Image.asset('assets/images/profile.png'),
                    ),
                    text: 'Sheldon',
                  )

[2021-07-10 22:44] fisforfaheem opened #63 "Please fix set State errors please also make it work well with GETX and one more thing"
please please ad better and easier multiple examples of the Ui that is in the gif

[2021-07-11 16:04] spacekestrel opened #64 "google_nav_bar 5.0.5 make text visible"
Can i make text always visible and tab without an icon?

[2021-07-11 16:53] sooxt98 commented on #64
@spacekestrel yes you can, but without Gnav

[code]

[2021-07-11 16:58] sooxt98 commented on #63
the gif example is at here :3
https://github.com/sooxt98/google_nav_bar/blob/master/example/lib/main_gallery.dart

[2021-07-11 16:59] sooxt98 commented on #63
@fisforfaheem could you describe more why it doesn't work well with getx? im using with getx in across multiple projects, it works fine

[2021-07-11 17:05] sooxt98 commented on #58
@Amr1440 Just do this, you're good to go.

[code]

[2021-07-11 17:13] fisforfaheem commented on #63
It works now ...after some tinkering...but the problem is that there is
only one example that shows it;s design and working...please add  more
examples and tutorials to make it truly customized

On Sun, Jul 11, 2021 at 9:59 PM sooxt98 ***@***.***> wrote:

[2021-07-11 17:24] sooxt98 commented on #63
@fisforfaheem hmmm, there are 4 working example within the package, i think it's enough for showcasing the power of the package

[2021-07-11 18:28] spacekestrel commented on #64
Okay, thanks.

[2021-07-11 18:28] #64 closed

[2021-07-11 19:58] #54 closed

[2021-07-11 23:21] sooxt98 opened #65 "Able to specify `expandedTab: true` to Gnav to expand all GButton by default"

[2021-07-12 07:33] fisforfaheem commented on #63
Thanks, what i meant was in the extension page on pub., dev...i mean u have
4 designs showcase but code for only 1

On Sun, Jul 11, 2021 at 10:24 PM sooxt98 ***@***.***> wrote:

[2021-07-12 19:42] sooxt98 commented on #63
@fisforfaheem its pub.dev limitations, i don't want to make the example over complex, so i choose to split it into 4 files

[2021-07-12 19:42] #63 closed

[2021-07-16 18:44] fisforfaheem commented on #63
where are those fifles??? please link me ??? update pub. dev website??

On Tue, Jul 13, 2021 at 12:42 AM sooxt98 ***@***.***> wrote:

[2021-07-16 18:46] sooxt98 commented on #63
It’s inside the example folder

On Sat, 17 Jul 2021 at 2:44 AM, Faheem Ahmad ***@***.***>
wrote:

[2021-07-17 11:54] fisforfaheem commented on #63
ok... i tried it out but with no luck to implement it :( i did get code but
no luck..

this was my already used code..i wanted to add some more styles
...import 'package:flutter/material.dart';
import 'package:flutter_facebook_responsive_ui/screens/screens.dart';
import 'package:flutter_facebook_responsive_ui/screens/walls/walls.dart';
import 'package:get/get.dart';
import 'package:google_nav_bar/

[2021-07-24 13:03] fisforfaheem commented on #63
????

[2021-07-24 13:05] sooxt98 commented on #63
@fisforfaheem i dont know whats ur main issue, and your code is not clean which still depends on others lib

[2021-07-24 18:48] fisforfaheem commented on #63
Ok, here is the link to my project please have a look, it works fine..UI
.... please have a look at my navscreen .dart I am new to flutter that's
why no clean code sorry :(
\
https://github.com/fisforfaheem/social_media_application_flutter

On Sat, Jul 24, 2021 at 6:05 PM sooxt98 ***@***.***> wrote:

[2021-08-05 06:10] satyapsr13 opened #66 "how to add border gradient in icons"

[2021-08-05 06:11] sooxt98 commented on #66
you could use GButton leading param for that, put your own style

[2021-08-23 18:48] RazaShabbir-vrc commented on #58
Icon is required even when you use leading image.

[2021-08-23 18:49] RazaShabbir-vrc commented on #58
Please remove required at least so we can use custom images as Icon or support for Icons natively would be great so we can use assetIcons. Great package but can't seem to go around it.

[2021-08-23 19:23] sooxt98 commented on #58
It’s by design, firstly icon can’t be null it’s required to make all the
tabbar leading size stays consistent.

Leading accepts any widget, you just have to pass in dummy icon data as a
default size placeholder.

On Tue, 24 Aug 2021 at 2:50 AM, RazaShabbir-vrc ***@***.***>
wrote:

[2021-08-23 20:00] RazaShabbir-vrc commented on #58
Got it, I think this resolves it. Thanks for the awesome package!

[2021-08-25 00:13] #58 closed

[2021-10-11 15:46] sanjhi opened #67 "closed"

[2021-10-11 16:13] #67 closed, assigned to nobody

[2021-10-12 04:19] sanjhi opened #68 "How to assign SvgPicture to 'int' type parameter? #67"
I am trying to add SVG image as an icon in GButton, but it is not working. Please see the screenshot of error and guide how to resolve it?
![error screenshot](https://user-images.githubusercontent.com/9048643/136890741-f42a6804-5f9d-479a-97c1-ca1ea93b1c89.png)

[2021-10-12 20:25] sooxt98 commented on #68
Use leading param
[code]
https://github.com/sooxt98/google_nav_bar/issues/38

[2021-10-12 20:25] #68 closed, assigned to nobody

[2021-10-19 07:15] realapril opened #69 "Navigator.of(context).pushReplacementNamed occurs Error"
First of all, I love your designed navigation widget.
However there is a minor error when I use Navigator function ```Navigator.of(context).pushReplacementNamed```,
this error occurs.
Using ```Navigator.of(context).pushNamed``` is fine.

[code]

It doesn't kill an application so it might be a minor problem for now,
but I think it will be a pain later.

[2021-11-13 14:34] Hanousi opened #70 "google_nav_bar events"
Hello! Love this project, it looks great and works really well.

One small qualm I have is documentation :( I was wondering if any events are fired off that I can catch when users change between tabs, both when swiping or using the navbar itself.

Keep up the good work and thank you very much!

[2021-11-15 09:44] #60 closed

[2021-11-21 05:45] sooxt98 commented on #70
@Hanousi do check at the example
https://github.com/sooxt98/google_nav_bar/blob/master/example/lib/main_advance.dart

[2021-12-09 12:09] briouyahasnae opened #71 "use image instead of icon"
How can i use image instead of icon?

[2021-12-09 13:33] briouyaasmae commented on #71
I wanna do the same, I wanna controle the image that's mean change the color of image if the button is active or not

[2021-12-09 15:03] sooxt98 commented on #71
@briouyaasmae check this https://github.com/sooxt98/google_nav_bar/issues/58

@briouyaasmae  please check to example on how i handle the badge count
https://github.com/sooxt98/google_nav_bar/blob/master/example/lib/main_advance.dart

[2022-01-03 20:18] Blisston commented on #69
While using  Navigator.of(context).popAndPushNamed(); inside the onTabChnage() callback throws the above error please check this. The same works fine if pushNamed is been used. It's a common case where developers can try to navigate to another page on tab change right?

[2022-01-11 02:26] sooxt98 commented on #69
@Blisston you could use GButton `onPressed` for Navigator, onTabChnage usually is used for `setState`

[2022-03-10 07:41] yuanjiong opened #73 "How do I keep the page state?"
When I switch the TAB, the page reloads every time, even if I added "with AutomaticKeepAliveClientMixin"

[2022-03-10 07:44] sooxt98 commented on #73
Could you look into this first
https://stackoverflow.com/a/53017855

It’s not navbar issue, but you could give me a minimal reproducible code
that shows the error

On Thu, 10 Mar 2022 at 3:41 PM, yuanjiong ***@***.***> wrote:

[2022-03-10 08:12] yuanjiong commented on #73
@sooxt98 Thanks for  such a good plugin

This is my test code, Please review it for me.

import 'package:flutter/material.dart';
import 'package:google_nav_bar/google_nav_bar.dart';
import 'package:line_icons/line_icons.dart';

class Example extends StatefulWidget {
  @override
  _ExampleState createState() => _ExampleState();
}

class _ExampleState extends State<Example>{
  int _selectedIndex = 0

[2022-03-10 16:52] PINHOf opened #74 "How to center the icon without text?"
As you can see in the image, the text has been removed, but the icon is not centered.
![image](https://user-images.githubusercontent.com/6898403/157713551-052c7d30-7444-460a-8dff-e496d95d08ec.png)

I have set the `gap` to zero.
[code]

[2022-03-10 17:03] PINHOf commented on #74
Oh, ok, thank you. I'm trying to achieve the goal below, can you point me in the right plugin direction? There are so many 😅

![image](https://user-images.githubusercontent.com/6898403/157716165-20016111-5679-4be2-b0db-c4f1b5423b4e.png)

[2022-03-10 17:11] sooxt98 commented on #74
You could try this
https://pub.dev/packages/flutter_snake_navigationbar

Can’t help you much on this one

On Fri, 11 Mar 2022 at 1:03 AM, PINHOf ***@***.***> wrote:

[2022-03-10 17:12] sooxt98 commented on #74
Btw have you tried downgrading the version? Should have fix it I think

On Fri, 11 Mar 2022 at 1:11 AM, Sheldon Soo ***@***.***> wrote:

[2022-03-11 15:02] PINHOf commented on #74
Worked great, downgraded to version 3x. Thanks.

[2022-03-13 16:20] sooxt98 commented on #73
you have to use pageview widget in order to let AutomaticKeepAliveClientMixin work for you

[2022-03-19 01:05] #73 closed

[2022-03-22 13:45] pradeep14598 opened #75 "setState() called after dispose()"
E/flutter ( 7192): [ERROR:flutter/lib/ui/ui_dart_state.cc(209)] Unhandled Exception: setState() called after dispose(): _GNavState#fb094(lifecycle state: defunct, not mounted)
E/flutter ( 7192): This error happens if you call setState() on a State object for a widget that no longer appears in the widget tree (e.g., whose parent widget no longer includes the widget in its build). This error can occ

[2022-03-22 13:48] sooxt98 commented on #75
could u provide a minimal reproducible code?

On Tue, 22 Mar 2022 at 9:46 PM, Pk ***@***.***> wrote:

[2022-03-22 13:58] pradeep14598 commented on #75
bottomNavigationBar: Container(
            //   height: kBottomNavigationBarHeight,
            decoration: BoxDecoration(
              color: Colors.white,
              boxShadow: [
                BoxShadow(
                  blurRadius: 20,
                  color: Colors.black.withOpacity(.1),
                )
              ],
            ),
            child: SafeArea(
              child

[2022-03-22 14:04] sooxt98 commented on #75
I’m not able to run this, _onItemTapped is missing

On Tue, 22 Mar 2022 at 9:59 PM, Pk ***@***.***> wrote:

[2022-03-22 14:05] pradeep14598 commented on #75
`  void _onItemTapped(int index) {
    if (mounted)
      setState(() {
        _selectedIndex = index;
        _currentPage = _pages[index];
      });
  }`

[2022-03-22 14:08] sooxt98 commented on #75
Could you just send me a complete file that is runnable? currentPage Is
missing

On Tue, 22 Mar 2022 at 10:06 PM, Pk ***@***.***> wrote:

[2022-03-22 14:17] pradeep14598 commented on #75
[https://gist.github.com/pradeep14598/77e1c4fc95a77368f814fa49ce08d7b0](url)

[2022-03-22 14:26] sooxt98 commented on #75
@pradeep14598 the DashboardController is missing, could you make it runnable first in one single file?

[2022-03-22 14:30] pradeep14598 commented on #75
[https://gist.github.com/pradeep14598/b191d0bacd5ae9d67d1e6094152a4183](url)

[2022-03-22 15:01] sooxt98 commented on #75
@pradeep14598 you shouldnt put your `final GlobalKey<ScaffoldState> _scaffoldKey = GlobalKey<ScaffoldState>();` inside the build function

you should put at here
[code]

[2022-03-22 15:04] pradeep14598 commented on #75
Hai @sooxt98 ,Thanks for your solution and your awesome plugin ,is there any feature for adding badges in tab

[2022-03-22 19:32] sooxt98 commented on #75
@pradeep14598 you could look into this badge example https://github.com/sooxt98/google_nav_bar/blob/master/example/lib/main_advance.dart

[2022-03-22 19:32] #75 closed

[2022-04-12 10:48] robertmrobo opened #76 "Set the height of the navigation bar"
I would like to manually set the height of my navigation bar. Is there a way to do so currently?

[2022-04-12 11:09] robertmrobo opened #77 "Make the state class _GNavState public"
I would like to use the state in a Global Key and access it from different widgets like the Navigation Drawer so that when the user clicks on a menu item on the navigation drawer, the bottom navigation drawer can auto animate to the selected menu.

[2022-04-12 18:01] #76 closed

[2022-05-19 06:45] Salam-pc opened #79 "how to remove elevation from the nav bar"
![image](https://user-images.githubusercontent.com/89230970/169227682-c3027c88-ddb3-4c05-b4af-dd7c520c1d3a.png)

[2022-05-19 06:50] sooxt98 commented on #79
There’s no elevation within this package, it’s from elsewhere, try look
around your code.

On Thu, 19 May 2022 at 2:45 PM, Abdussalam Pc ***@***.***>
wrote:

[2022-05-19 06:52] sooxt98 commented on #79
For example boxShadow

On Thu, 19 May 2022 at 2:50 PM, Sheldon Soo ***@***.***> wrote:

[2022-05-27 12:58] alexandranb1 commented on #69
It does the same issue on onPressed function

[2022-05-27 13:00] sooxt98 commented on #69
Could you provide a minimal code that produce this error?

On Fri, 27 May 2022 at 8:59 PM, alexandranb1 ***@***.***>
wrote:

[2022-05-27 13:09] alexandranb1 commented on #69
[√] Flutter (Channel stable, 2.10.3, on Microsoft Windows [Version 10.0.19043.1706], locale en-US)
    • Flutter version 2.10.3
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision 7e9793dee1 (3 months ago), 2022-03-02 11:23:12 -0600
    • Engine revision bd539267b4
    • Dart version 2.16.1
    • DevTools version 2.9.2

[√] Android toolchain - develop for Andr

[2022-05-27 13:12] sooxt98 commented on #69
Hi there, I need the full code all in one file, at least it’s runnable, and
able to reproduce the same error

On Fri, 27 May 2022 at 9:09 PM, alexandranb1 ***@***.***>
wrote:

[2022-08-05 16:04] AcarFurkan opened #80 "how to make resize screen ?"
https://user-images.githubusercontent.com/65075121/183116695-c6fd7825-0bd6-4b7f-b790-4caf5e86978b.mp4

[2022-08-05 16:57] sooxt98 commented on #80
sorry, i don't understand what you mean

[2022-08-07 08:37] AcarFurkan commented on #80
I want the screen size to change when the keyboard is opened. I want the .bottombar to rise above the keyboard.

[2022-08-07 09:07] sooxt98 commented on #80
Try to take a look at this, this issue is not related to this plugin but
the way on how you wrap the Gnvav

https://stackoverflow.com/questions/52350371/bottom-navigation-bar-sticks-to-top-of-keyboard

On Sun, 7 Aug 2022 at 4:37 PM, Furkan Acar ***@***.***> wrote:

[2022-09-28 12:29] pixiedust07 opened #81 "Feature request : Add color/gradient for unselected tab background"

[2022-10-10 08:43] razvanduta21 commented on #79
1. Wrap it in a Container.

2. If you have something like that delete the boxShadow

return Container(
decoration: BoxDecoration(
.....
       boxShadow: [
            color: Colors.black,
            offset: Offset(0, 3),
            blurRadius: 7,
            spreadRadius: 5,
      ],
),
      child: GNav(tabs: ....),
    );
  }
}

[2022-10-19 17:44] YDA93 commented on #77
Exact issue i was looking for.

[2022-10-19 17:46] sooxt98 commented on #77
@YDA93 Hi there, i would suggest you to change Gnav.selectedIndex instead of modifying the actual navbar state directly. There's an example showing how changing tabpage trigger Gnav to change selectedIndex

https://github.com/sooxt98/google_nav_bar/blob/master/example/lib/main_advance.dart

[2022-10-19 18:00] YDA93 commented on #77
I control my tabs through router which allows me to change tabs from any widget I want.
The problem with this package is I can't change the nav bar state from another deep widgets unless I use some notifiers which is requesting more work for a simple thing.

Normally most drawers and nav bars in flutter uses a key for this purpose.

Please consider it as feature request.

Thank you! @sooxt98

[2022-10-19 18:08] sooxt98 commented on #77
@YDA93 sorry i can't, i won't promoting people to wring bad codes, which is a bad design pattern which use state globally

[2022-10-19 18:57] YDA93 commented on #77
@sooxt98 This package is beautifully designed but is limited when it comes to this.

convex_bottom_bar has flutter favorite badge and it use global state.

 It doesn't make sense.

[2022-10-19 18:59] YDA93 commented on #77
@sooxt98 That's their source code https://github.com/hacktons/convex_bottom_bar/blob/master/lib/src/bar.dart

[2022-10-19 19:11] sooxt98 commented on #77
@YDA93 please read this https://softwareengineering.stackexchange.com/questions/148108/why-is-global-state-so-evil
If you want this feature, you may fork it yourself, or use some hack like getx, get_it

[2022-10-19 19:16] sooxt98 commented on #77
@sooxt98 If you don't like to introduce new packages, use this instead https://medium.com/flutter-community/stop-using-state-management-libraries-48a81ed7979d

[2022-10-19 19:55] YDA93 commented on #77
@sooxt98
After I have read all your references and understand from what your coming from.

When I were saying "Global state" I was wrong.

I haven't made any single Global variable, state in the PR.

I made the class to be Public which is very different.

Meaning I cannot access it globally unless I attach global key to it:
`static final appBarKey = GlobalKey<GNavState>();`

Users of this package

[2022-10-19 20:03] sooxt98 commented on #77
Even if you’re not using GlobalKey, but others will, GlobalKey is an
anti-pattern design which allow anything to direct modify Gnav state from
anywhere

On Thu, 20 Oct 2022 at 3:55 AM, Yousef Almutairi ***@***.***>
wrote:

[2022-10-19 20:09] YDA93 commented on #77
@sooxt98
At the end  of the day it's the user option to evaluate the case and decides to create global key or not.

It's not in the package code so we have no any anti-pattern design so far.

Since we only made the class public what stops us this?

[2022-10-19 20:12] YDA93 commented on #77
@sooxt98
We only made it possible to control the state from two methods:

Using `GlobalKey` or through `findAncestorStateOfType`

[2022-11-13 17:39] Mleendox opened #83 "Debug console shows this message "ensureControlAlpha: for ITYPE_NAVIGATION_BAR" when GNav does not show?"
So in my app, I have the GNav bar to navigate between some pages. I use Firebase Auth to sign in users. Right after a user signs in, the app navigates to the main page where the GNav is.

    class MainPage extends StatefulWidget
    {
      const MainPage({Key? key}) : super(key: key);

      @override
      State<MainPage> createState() => _MainPageState();
    }

    class _MainPageState extend

[2022-11-13 23:42] sooxt98 commented on #83
Looks like some sort of Android related issue,
perhaps take a look at this https://stackoverflow.com/questions/73513952/errors-while-accessing-camera-in-flutter

[2022-11-24 07:19] HassAlli opened #84 "Change icon type; use Widget instead of IconData"
`final IconData icon;` Change the icon in `GButton`  from `IconData` to `Widget`

[2022-11-25 10:36] sooxt98 commented on #84
https://stackoverflow.com/questions/66404734/how-do-i-use-a-custom-widget-network-image-in-gbutton-google-nav-bar

[2022-11-25 10:36] #84 closed